<div class="flex justify-center items-center flex-col min-h-screen text-center">
	<h1 class="font-bold text-4xl mb-2">Super-Social</h1>
	<h2 class="font-semibold text-lg mb-2">A social media app</h2>
	<h2 class="font-semibold text-xl mb-4">Submission for the Guvi - Chubb Training Capstone Project</h2>
	<h3 class="font-medium text-lg">Developed by</h3>
	<p>Vyshnav R</p>
	<a class="mb-4 hover:underline" href="mailto:vyshnavr856@gmail.com">vyshnavr856&#64;gmail.com</a>

	<button (click)="navigateToLogin()" routerLink="/login" class="px-8 py-2 font-semibold bg-white text-black rounded-md hover:bg-gray-200 transition duration-100 mb-3">Log In</button>
	<button (click)="navigateToSignup()" routerLink="/signup" class="px-8 py-2 font-semibold bg-white text-black rounded-md hover:bg-gray-200 transition duration-100">Sign Up</button>
</div>